html {
    background-color: rgb(67, 99, 128);
    padding: 3% 30%;
}

div {
    padding: 10px;
    font-size:18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input {
    width: 35px;
    height: 25px;
    border: solid rgb(30, 255, 143);
    border-radius: 15%;
}


#resultado {
    font-family: 'Arial';
    width: 30%;
    height: 3%;
    font-size: 18px;
    font-weight: normal;
    padding: 3% 35%;
}
#tudo{
    border: solid 2px rgb(204, 16, 148);
    width: 500px;
    height: 500px;

}
#titulo{
    padding: 0% 70px;
}