html {
    background-color: aliceblue;
}

div {
    padding: 10px;
    font-size:18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input {
    width: 35px;
    height: 25px;
}

#calc {
    background-color: greenyellow;
    border-radius: 35px;
    width: 80px;
    height: 25px;
    box-shadow: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    position: center;
}

#resultado {
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 300px;
    height: 350px;
    font-size: 18px;
    font-weight: bold;
}